.Row {
  display: flex;
  align-items: normal;
  justify-content: space-between;
  width: 90vw; /* Full viewport width */
}

.Left {
  flex: 1;
  padding: 0px;
}

.Right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 12vw;
  position: relative;
  right: -8vw;
}

@media (min-width: 900px) {
  .Right {
    max-width: 600px;
    padding-right: 16vw;
    right: -12vw;
  }
}

@media (min-width: 900px) {
  .Right {
    max-width: 600px;
    padding-right: 23vw;
    right: -29vw;
  }
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #ffffffde;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 00;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
}

.navbar {
  padding: 20px;
  display: flex;
  background-color: #252525;
  align-items: center;
  border-bottom: 2px solid black;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-links {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin-left: 16px;
  padding: 6px;
}

.navbar-container {
  width: 100%;
}

.homepage-header {
  text-align: center;
  margin-bottom: 2rem;
}

.homepage-header h1 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.homepage-header p {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.main-btn {
  background-color: #f26d63;
  color: #222;
  font-size: 1.3rem;
  font-weight: 600;
  border: none;
  border-radius: 2rem;
  padding: 0.8em 2em;
  cursor: pointer;
  margin: 0 auto;
  display: inline-block;
}

.beginMeal {
  background-color: #ff5757;
  height: 40px;
  color: black;
  border-radius: 30px;
  padding: 0.6em 1.2em;
  border: none;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: background 0.25s;
  margin-top: 60px;
}

/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
} */

.Content {
  max-width: 600px;
  margin: 90px 40px;
  padding: 20px;
}

.Content.home {
  max-width: 6020px;
  margin: 40px 40px;
  padding: 20px;
}

.home {
  text-align: left;
  margin-left: 40px;
}

.homeButtonContainer {
  text-align: left;
  margin-left: 40px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
